- title='RaspMirror'
- author='ladicle'

doctype html
html
  head
    title #{title} - @#{author}
    meta(charset='utf-8')
    link(rel='stylesheet' type='text/css' href='dst/base.css')
    script(src='lib/jquery.min.js')
    script(src='dst/clock.js')
  body
    div.wrap
      div#clock
        span.date
        br
        span.time
      div.weather 17C Cloud
      img.ufo(src='img/ufo.gif')
